body{
	background:url(../images/fon.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.name{
	font-family: 'Shadows Into Light', cursive;

}
.jumbotron{
	margin: 10% 35% 10% 35% ;
	background-color: rgba(0,0,0,0);
	color:white;
	text-align: center;
}
.note{
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
}
.button{
	background-color: #0e7d3e;
	border: 0;
}
.caption{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
}
.works{
	background-color: rgba(225,225,225,0.6)
}
.comm{
	font-size: 1.5em;
}
.footer-main{
	background-color: #272727;
	overflow: hidden;
	height: 150px;
	text-align: center;
}
.iconfooter{
	display: inline;
	width: 100%;
	margin: 5% 40% 0 40%;
	
	overflow: hidden;
}
.icon{
	margin: 0 1% 0 1%;
	padding: 2% 0% 0% 0%;
}
.mail{
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Bubbler One', sans-serif;
}