body{
	background-image: url(images/wallpaper2.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
.brush{
	background-image: url(images/brush.png);
	background-size: cover;
	width: 400px;
	height: 160px;
	margin: 0 30% 0 40%;
}
.mainpage{
	padding-top: 22%;
	padding-left: 10%;	
}
.span{
	color: white;
	padding: 2%;	
	text-decoration: none;
}
ul li{
	list-style-type: none;
	display: inline;

}
.facts{
	border: 1px solid #414141;
	margin: 2% 29% 0 33%;
	height: 880px;
}
.right{
	float: right;
	width: 30%;
	margin: 2%;
}
.center{
	margin: 4%;	
}
.left{
	float: left;
	width: 30%;
	margin: 2%;
}
span{
	font-size: 20px;
	font-weight: bold;
}
