body{
	background-image: url(images/wallpaper.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: left, right;

}
.brush{
	background-image: url(images/brush.png);
	background-size: cover;
	width: 32%;
	height: 160px;
	margin: 0 30% 0 40%;
}
.mainpage{
	padding-top: 22%;
	padding-left: 10%;	
}
.span{
	color: white;
	padding: 2%;	
	text-decoration: none;
}
ul li{
	list-style-type: none;
	display: inline;

}

.icon{
	text-align: center;
	clear: both;
	width: 80px;
}

.line{
	height: 30%;
}
table{
	padding: 2% 30% 5% 32%;
	height: 20%;
	border-spacing: 20px 20px;	
}

.kevin{
	background-color:#0a3a5e;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.kevin:hover{
	background-image: url(images/Kevin.jpg);
	background-size: cover; 
}

.dennis{
	background-color:#20738f;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.dennis:hover{
	background-image: url(images/dennis.jpg);
	background-size: cover; 	
}

.hedwig{
	background-color:#fbd55e;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.hedwig:hover{
	background-image: url(images/hedwig.jpg);
	background-size: cover; 
}

.patricia{
	background-color:#961919;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.patricia:hover{
	background-image: url(images/patricia1.jpg);
	background-size: cover; 
}

.barry{
	background-color:#404040;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.barry:hover{
	background-image: url(images/barry1.jpg);
	background-size: cover; 
}

.orwell{
	background-color:#0e7d3e;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.orwell:hover{
	background-image: url(images/orwell.jpg);
	background-size: cover; 
}

.jade{
	background-color: #ff7979;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;	
}
.jade:hover{
	background-image: url(images/jade.jpg);
	background-size: cover; 
}
.beast{
	background-color: #000000;
	border: 2px solid #414141;
	border-radius: 50px;
	color:white;		
}
.beast:hover{
	background-image: url(images/beast.jpg);
	background-size: cover; 
}
